body {
    font-family: "Georgia", serif;
    background: #fafafa;
    text-align: center;
    padding: 40px;
}

.title {
    font-size: 42px;
    margin-bottom: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.dropdown-box {
    background: #f9d854;
    padding: 30px;
    border-radius: 25px;
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dropdown-box label {
    font-weight: bold;
}

.dropdown-box select {
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

.btn {
    background: #333;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background: #555;
}

.error-box {
    background: #97b5ff;
    padding: 25px;
    width: 220px;
    border-radius: 20px;
    color: #0a1b69;
    font-style: italic;
}
